---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

<header class="post-header">
	<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
</header>

<p>
<details class="post-meta">
	<summary>About this page</summary>
	<table>
	{% for site_page in site.pages %}
		{% if site_page.name == page.name and site_page.path contains 'wiki/' %}
			<tr>
			{% if site_page.lang == page.lang %}
				<td class="lang-name">{{ site_page.lang }}</td>
				<td>{{ site_page.title }}</td>
			{% else %}
				<td class="lang-name">{{ site_page.lang }}</td>
				<td><a href="{{ site_page.url | relative_url }}">{{ site_page.title }}</a></td>
			{% endif %}
			</tr>
		{% endif %}
	{% endfor %}
	</table>
	<ul>
		<li><a href="https://github.com/dododogame/wiki/blob/master/{{ page.path | remove: "wiki/" }}?plain=1">View source</a></li>
		<li><a href="https://github.com/dododogame/wiki/edit/master/{{ page.path | remove: "wiki/" }}">Edit source</a></li>
		<li><a href="https://github.com/dododogame/wiki/commits/master/{{ page.path | remove: "wiki/" }}">View history</a></li>
	</ul>
</details>
<details class="post-meta">
	<summary>
		Table of contents
	</summary>
	{{ content | toc_only }}
</details>
</p>

<div class="post-content e-content" itemprop="articleBody">
	{{ content | inject_anchors }}
</div>
<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>
	var langNames = document.getElementsByClassName("lang-name");
	for (var i = 0; i < langNames.length; i++) {
		lang = langNames[i].innerHTML;
		langNames[i].innerHTML = new Intl.DisplayNames([lang], {type: 'language'}).of(lang);
	}
</script>
